.content {

    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        text-align: justify;
    }

    li {
        font-size: 18px;
        line-height: 1.5;
    }

}

.main {
    border-left: 1px solid $light-gray;
}

.date {
    font-style: italic;
    font-weight: 600;
}

.revealTitle {
    font-size: 26px;
    line-height: 1.35;
    font-weight: 400;
    margin: 30px auto;
    max-width: 80%;
    text-align: center;
}

.historyInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.image-box_center {
    margin: 25px auto;
}

.image-box img {
    width: 100%;
    height: auto;
}

.image-box__caption {
    margin: 8px auto 0 auto;
    max-width: 690px;
    padding: 10px 0 2px 0;
    font-size: 14px;
    line-height: 1.3em;
    color: $gray;
    text-align: center;
}

.image-box__author {
    margin: 1px auto 0 auto;
    max-width: 690px;
    padding: 5px 0 5px 0;
    font-size: 12px;
    line-height: 1.3em;
    color: $orange;
    text-transform: uppercase;
    text-align: center;
}

.tabs {
    border: none;
}

.tabs-title {
    margin-right: 3px;
    transform: translateY(1px);
    background-color: #fff;
}

.tabs-title>a {
    padding: 0.8rem 1.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: $black;
    border-radius: 5px 5px 0 0;
    border-color: $dark-gray;
    border-style: solid;
    border-width: 1px 1px 0 1px;

    .infoLink svg {
        fill: $orange;
    }

}

.tabs-title>a:focus,
.tabs-title>a[aria-selected="true"] {
    background-color: $dark-gray;
    border-color: $dark-gray;
    color: $white;

    .infoLink svg {
        fill: $white;
    }
}

.tabs-title [data-tabs-target="sourceInfo"] {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.tabs-content {
    border: 0px solid $dark-gray;
}

.tabs-panel {
    padding: 1rem 0;
}

.tabs {
    border-bottom: 1px solid #646464;
}

.orbit-previous,
.orbit-next {
    //top: auto;
    //bottom: 0;
    //transform: translateY(60px);
    background-color: $blue;
    font-size: 30px;
    padding: 1.5rem 1rem;

    cursor: pointer;

    &:hover {
        background-color: #426bda;
    }

    &:focus {
        background-color: #426bda;
    }

}

.orbit-previous {
    border-radius: 0 5px 5px 0;
}

.orbit-next {
    border-radius: 5px 0 0 5px;
}

.slider-number {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    z-index: 10;
    right: 0;
    background-color: rgba(255, 255, 255, 0.6);
    height: 40px;
    padding: 10px 20px;
}

.orbit-slide>a {
    cursor: zoom-in;
}

.tooltip {
    max-width: 30rem;
}