.datesfilter{
    background-color: $dark-bg;
    padding: 10px;

    .mCont{
        margin-bottom: 15px;
    }

    .dateM{
        font-weight: 700;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $white;
        padding-top: 5px;
        margin-bottom: 5px;
        border-width: 0 0 1px 0;
        border-color: $white;
        border-style: dotted;
    }

    .dateDCont{
        padding-top: 10px;
        padding-left: 10%;
    }

    .dateD{
        color: $blue-gray;
        font-weight: 400;
        font-size: 1.0rem;
        cursor: pointer;

        span{
           font-weight: 600;
           display: inline-block;
           width: 24px;
           text-align: right;
           font-size: 15px;
        }

        &:hover{
            color: $white;
            text-decoration: underline;
        }

        &.active{
            color: $white;
        }

    }

}