.datesfilter{
    padding: 10px;

    .mCont{
        margin-bottom: 15px;
    }

    .dateMCont{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        padding: 5px;
        border-radius: 5px;
        background-color: $hover-bg;
        cursor: pointer;
    }

    [aria-expanded="true"]{
        .arrowButton{
            /*transform: rotateX(180deg);*/

            .arrow-down{
                border-top-width: 0;
                border-bottom-width: 0.4375rem;
                border-color: transparent transparent #020202 transparent ;
            }

        }
    }

    .dateM{
        font-weight: 700;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $dark-bg;
    }

    .dateDCont{
        padding-top: 10px;
        padding-left: 10%;
    }

    .dateD{
        color: $black;
        font-weight: 400;
        font-size: 1.1rem;
        cursor: pointer;

        span{
           font-weight: 700;
           display: inline-block;
           width: 24px;
           text-align: right;
           font-size: 15px;
        }

        &:hover{
            color: $blue;
        }

        &.active{
            color: $orange;
            cursor: default;
        }

    }

}

#filterDateIndex{

    background-color: $white;
    padding-top: 3rem;
    box-shadow: inset 10px 0 12px -13px rgb(2, 2, 2 / 25%);

}

.datebuttonMenu{
    margin: 0;
    padding: 0.5em 1em;
}