.filterSource{
    background-color: map-get($sc, haki-light);
    padding: 10px;

    li{
        
        a{
            font-weight: 700;
            font-size: 1.1rem;
            text-transform: uppercase;
            color: map-get($sc, dark);

            &:hover{
                color: map-get($sc, orange);
            }

        }


    }

    .active{
            
        a{
            color: map-get($sc, orange);
            background-color: transparent;

            &:hover{
                color: map-get($sc, orange);
            }

        }
    }
}