.filterSource{
    background-color: $hover-bg;
    border-radius: 5px;
    padding: 10px;

    li{
        
        a{
            font-weight: 600;
            font-size: 1rem;
            text-transform: uppercase;
            color: $black;

            &:hover{
                color: $blue;
            }

        }


    }

    .active{
            
        a{
            color: $orange;
            background-color: transparent;

            &:hover{
                color: $orange;
            }

        }
    }
}