footer{
    
    background-color: $dark-bg;
    margin-top: 40px;

    .copy{
        color: $blue-gray;
        font-size: $small-font-size;
    }

    .menu{

        a{
            color: $blue-gray;
            font-weight: 400;

            &:hover{
                color: $white;
            }

        }

        .active{
            
            a{
                color: $white;
                background-color: transparent;

                &:hover{
                    color: $white;
                }

            }
        }
        
    }

}