.top-bar-container, .title-bar{
    background-color: map-get($sc, haki-dark);
}

.title-bar{

    .title-bar-title{
        font-weight: 700;
        color: map-get($sc, haki-tan);
    }

}

.top-bar, .top-bar ul {
    background-color: transparent;
}

$menu-hover-lines-transition: all 0.35s ease;
$menu-hover-lines-border-width: 1px;

.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $menu-hover-lines-transition;

  li a {
    padding: 0.55rem 0;
    color: $white;
    position: relative;
    margin-left: 1rem;
    font-weight: 600;
  }

  li:first-child a {
    margin-left: 0;
  }

  li.active > a {
    background-color: transparent;
  }

  a:before,
  a::after {
    height: $menu-hover-lines-border-width;
    position: absolute;
    content: '';
    transition: $menu-hover-lines-transition;
    background-color: map-get($sc, orange);
    width: 0;
  }

  a::before {
    top: 0;
    left: 0;
  }

  a::after {
    bottom: 0;
    right: 0;
  }

  a:hover,
  li.active > a {
    color: map-get($sc, pesok);
    transition: $menu-hover-lines-transition;
  }

  a:hover::before,
  .active a::before,
  a:hover::after,
  .active a::after {
    width: 100%;
    background-color: map-get($sc, pesok);
  }
}


.site-title{
    font-size: 2rem;
    font-weight: 700;
    color: map-get($sc, orange);
}