.filterStatus {
    margin-bottom: 20px;

    .m {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        color: $orange;
    }

    .d {
        font-size: 1.2rem;
    }
}

.ext-link {
    svg {
        fill: $blue;
        color: inherit;
        width: 27px;
        height: 23px;
        display: inline-block;
        transform: scale(0.6) translate(3px, 10px);
    }
}

.docContainer {
    margin-bottom: 20px;

    .docTitle {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        color: $black;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
        background-color: #f1f1f1;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &[aria-expanded="true"] .arrowButton {
            transform: rotateX(180deg);
        }
    }



    .docData {
        padding-left: 5%;
    }

    .sourceCont {
        padding-top: 5px;
        margin-bottom: 5px;

        .sourceTitle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 15px;
            cursor: pointer;

            .sourceLinkTree {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                border-radius: 5px;
                padding: 5px;

                &:hover {
                    background-color: $hover-bg;
                }

                &[aria-expanded="true"] {
                    background-color: $hover-bg;
                }

            }

            .buttonCont {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 15px;
            }

            .sourceTitleText {
                font-size: 1.1rem;
                text-transform: uppercase;
            }

            .sourceInfo {

                div {
                    color: $orange;
                    border: 2px solid $orange;
                    border-radius: 50%;
                    display: inline-block;
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    font-weight: 700;
                    font-size: 1.1rem;
                    text-align: center;
                    line-height: 23px;
                }

            }

            .sourceButton {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;

                div {
                    cursor: pointer;
                }

            }
        }

        .sourceDataCont {
            overflow: hidden;
            padding-left: 5%;
            padding-top: 10px;
            padding-bottom: 5px;
        }

    }

    .situationCont {
        padding-top: 5px;
        margin-bottom: 5px;

        .situationTitle {
            display: flex;
            gap: 15px;
            cursor: pointer;
            padding: 5px;
            border-radius: 5px;

            &:hover {
                color: #6c8ce2;
                background-color: #f1f1f1;
            }

        }

        .situationTextCont {
            display: flex;
            flex-direction: row;
            height: 0;
            overflow: hidden;
            gap: 15px;
        }

    }

}

.actionCont {
    padding-top: 5px;
    margin-bottom: 5px;

    .actionsTitle {
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            color: $blue;
            background-color: $hover-bg;
        }

        &[aria-expanded="true"] {
            background-color: $hover-bg;
        }

        .actionTitleText {
            font-weight: 500;
            font-size: 1rem;
            flex: 1;
        }

    }

    .actionTextCont {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: 10px 30px 5px 70px;
    }

}

.actionBlock {

    margin-bottom: 20px;

    .actionHeader {
        display: flex;
        flex-direction: row;
    }

    .actionTime {
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
        margin-right: 10px;
    }

    .actionTitle {
        font-weight: 600;
        font-size: 1rem;
    }

    .actionTextCont {
        padding: 5px 0;

        a {
            text-align: right;
            display: block;
            margin-bottom: 5px;
        }

        .content {
            text-align: justify;
        }

    }

}

.photoCont {
    padding-top: 5px;
    margin-bottom: 5px;
    border-width: 1px 0 0 0;
    border-color: $gray;
    border-style: dotted;

    .photoTitle {
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover {
            background-color: $gray;
        }

        .photoDate {
            font-size: 1.2rem;
            font-weight: 700;
            color: $orange;
            width: 106px;
        }

        .photoTitleText {
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

        .photoButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;

            div {
                cursor: pointer;
            }

        }
    }

    .photoTextCont {
        display: flex;
        flex-direction: row;
        height: 0;
        overflow: hidden;
        gap: 15px;

        &.expanded {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .imageCont {
            padding: 2px;

            img {
                max-width: 300px;
                margin: 0;
            }
        }

        .contentPhoto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .content p {
                font-size: 1rem;
            }

        }

    }

}

/*
.imageDataCont{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;

    .imageItem{
        width: 300px;
        display: flex;
        flex-direction: column;

        .date{
            text-align: center;
            color: #000;
        }

        .title{
            text-align: center;
        }

    }

    .imageCont{
        background-color: $dark-bg;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 300px;
        height: 300px;
        border-radius: 7px;
        position: relative;
        margin-bottom: 15px;
        transition: all .5s;   

        &:before {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000;
            opacity: .2;
            border-radius: 7px;
        }

        
        &:after {
            content: ' ';
            position: absolute;
            top: 10px;
            left: 10px;
            width: 53px;
            height: 53px;
            background-color: transparent;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url(../img/photo_icon.png);
            transition: all .5s;
        }
        

    }    

    .imageItem{

        &:hover{
            .imageCont{
                background-size: 110%;
            }
        }

    }

}
*/

.imageDataCont {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 20px;
    justify-content: space-between;
}

.mapItem {
    width: 48%;

    .imageMapCont {
        position: relative;
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        height: 0;
        padding-bottom: 75%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.5s;
            z-index: 1;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $black;
            opacity: 0.3;
            z-index: 2;
        }

        .roundIcon {
            z-index: 3;
        }

    }

    .title {
        text-align: center;
        line-height: 1.1;
        color: $black;
        font-size: 0.95rem;
    }

    &:hover {

        img {
            transform: scale(1.1);
        }

        .title {
            color: $blue;
        }

    }

    @media(max-width: 640px) {
        width: 100%;
    }

}

.imageItem {
    width: 48%;

    .imagePreviewCont {
        position: relative;
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        height: 0;
        padding-bottom: 66.66%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.5s;
            z-index: 1;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $black;
            opacity: 0.3;
            z-index: 2;
        }

        .roundIcon {
            z-index: 3;
        }
    }

    .title {
        text-align: center;
        line-height: 1.1;
        color: $black;
        font-size: 0.95rem;
    }

    &:hover {

        img {
            transform: scale(1.1);
        }

        .title {
            color: $blue;
        }

    }

    @media(max-width: 640px) {
        width: 100%;
    }

}

.videoItem {
    width: 48%;

    .videoImageCont {
        position: relative;
        border-radius: 7px;
        overflow: hidden;
        margin-bottom: 10px;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transition: all 0.5s;
            z-index: 1;
        }

        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $black;
            opacity: 0.3;
            z-index: 2;
        }

        .roundIcon {
            z-index: 3;
        }

    }

    .title {
        text-align: center;
        line-height: 1.1;
        color: $black;
        font-size: 0.95rem;
    }

    &:hover {

        img {
            transform: scale(1.1);
        }

        .title {
            color: $blue;
        }

    }

    @media(max-width: 640px) {
        width: 100%;
    }

}

.roundIcon {
    width: 53px;
    height: 53px;
    display: flex;
    border: 2px solid $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0.8;

    svg {
        width: 24px;
        height: 24px;
        fill: $white;
        transform: scale(1.2);
    }

    &.forMap {
        top: 10px;
        left: 10px;
    }

    &.forVideo {
        top: 50%;
        left: 50%;
        width: 40px;
        height: 40px;
        transform: translate(-20px, -20px);

        svg {
            width: 20px;
            height: 22px;
            fill: $white;
            transform: scale(1);
        }

    }

}


.thumbnailForMap {
    margin-bottom: 0;
    height: 200px;
    width: 300px;
    overflow: hidden;

    img {
        object-fit: cover;
        object-position: center;
        width: 300px;
        height: 200px;
    }

}

.videoCont {
    padding-top: 5px;
    margin-bottom: 5px;
    border-width: 1px 0 0 0;
    border-color: $gray;
    border-style: dotted;

    .videoTitle {
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover {
            background-color: $gray;
        }

        .videoDate {
            font-size: 1.2rem;
            font-weight: 700;
            color: $orange;
            width: 106px;
        }

        .videoTitleText {
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

        .videoButton {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;

            div {
                cursor: pointer;
            }

        }
    }

    .videoTextCont {
        display: flex;
        flex-direction: row;
        height: 0;
        overflow: hidden;
        gap: 15px;

        &.expanded {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .imageCont {
            padding: 2px;

            img {
                max-width: 300px;
                margin: 0;
            }
        }

    }

    .contentVideo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content p {
            font-size: 1rem;
        }

    }

}

.mTitle {
    font-size: 1.5rem;
    font-weight: 600;
    color: $orange;
    margin-bottom: 20px;
}

.dCont {
    padding-top: 5px;
    margin-bottom: 5px;

    .dTitle {
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px;
        border-radius: 5px;

        &:hover {
            color: $blue;
            background-color: $hover-bg;
        }

        .dTitleText {
            font-size: 1.1rem;
            text-transform: uppercase;
            flex: 1;
        }

        &[aria-expanded="true"] {
            background-color: $hover-bg;
        }

    }

    .listCont {
        overflow: hidden;
        padding-left: 5%;
        padding-top: 20px;

        &.expanded {
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

}

.dateCont {
    font-weight: 400;
    font-style: italic;
    width: 55px;

    &.forDate {
        width: 106px;
    }

    &.forTime {
        width: 55px;
    }
}

.itemTitleText {
    font-weight: 500;
    font-size: 1rem;
}

.arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    transition: all 0.3s;

    div {
        cursor: pointer;
        transition: all 0.3s;
    }
}

.pmButton {

    width: 30px;
    height: 30px;
    position: relative;

    &:after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../img/plus.png);
        transition: all .5s;
        background-size: 80%;
    }

}

.sourceLink {
    height: 26px;
}

.infoLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: $dark-bg;
    cursor: pointer;
    border: none;
    transition: all 0.5s ease-in;

    svg {
        width: 24px;
        height: 24px;
        fill: $blue;
    }

    &:hover {
        svg {
            fill: $orange;
        }
    }
}

.buttonPM {

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        background-color: $blue;
        border-radius: 5px;
        width: 24px;
        height: 24px;
        position: relative;

        &:before,
        &:after {
            content: "";
            position: absolute;
            background-color: white;
            transition: transform 0.1s ease-out;
        }

        &:before {
            top: 4px;
            left: 50%;
            width: 2px;
            height: 16px;
            margin-left: -1px;
        }

        &:after {
            top: 50%;
            left: 4px;
            width: 16px;
            height: 2px;
            margin-top: -1px;
        }

        /*
        &:hover{
            cursor: pointer;
            &:before{ transform: rotate(90deg); }
            &:after{ transform: rotate(180deg); }
        }
        */
    }
}

[aria-expanded="true"] {

    .buttonPM div {
        &:before {
            transform: rotate(90deg);
        }

        &:after {
            transform: rotate(180deg);
        }
    }

}