.ext-link{
    background-image: url('../img/ext-link.svg');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    background-size: 15px 15px;
}

.docContainer{
    margin-bottom: 20px;

    .docTitle{
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 700;
        color: map-get($sc, haki-dark);
        margin-bottom: 20px;
    }

    .docData{
        padding-left: 5%;
    }



    .sourceCont{
        padding-top: 5px;
        margin-bottom: 5px;

        .sourceTitle{
            display: flex;
            justify-content: start;
            gap: 15px;
            cursor: pointer;
            padding: 5px 0;

            .sourceNumber{
                font-size: 1.2rem;
                font-weight: 700;
                color: map-get($sc, boloto);
                width: 20px;
            }

            .sourceTitleText{
                font-weight: 700;
                font-size: 1.1rem;
                text-transform: uppercase;
                color: map-get($sc, dark);

                span{
                    color: map-get($sc, orange);
                }
            }

            .sourceInfo{

                div{
                    color: map-get($sc, boloto);
                    border: 2px solid map-get($sc, boloto);
                    border-radius: 50%;
                    display: inline-block;
                    cursor: pointer;
                    width: 26px;
                    height: 26px;
                    font-weight: 700;
                    font-size: 1.1rem;
                    text-align: center;
                    line-height: 23px;
                }

            }

            .sourceButton{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;

                div{
                    cursor: pointer;
                }

            }
        }    
        
        .sourceDataCont{
            height: 0;
            overflow: hidden;
            padding-left: 5%;

            &.expanded{
                height: auto;
                padding-top: 10px;
                padding-bottom: 5px;
            }

        }

    }

    .situationCont{
        padding-top: 5px;
        margin-bottom: 5px;
        border-width: 1px 0 0 0;
        border-color: map-get($sc, haki-dark);
        border-style: dotted;

        .situationTitle{
            display: flex;
            gap: 15px;
            cursor: pointer;
            padding: 5px 0;

            &:hover{
                background-color: map-get($sc, haki-light);
            }

            .situationDate{
                font-size: 1.2rem;
                font-weight: 700;
                color: map-get($sc, boloto);
                width: 106px;
            }

            .situationTitleText{
                font-weight: 600;
                font-size: 1.1rem;
                flex: 1;
            }

            .situationButton{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 36px;

                div{
                    cursor: pointer;
                }

            }
        }    
        
        .situationTextCont{
            display: flex;
            flex-direction:row;
            height: 0;
            overflow: hidden;
            gap: 15px;

            &.expanded{
                height: auto;
                padding-top: 10px;
                padding-bottom: 5px;
            }

        }

    }

}

.actionCont{
    padding-top: 5px;
    margin-bottom: 5px;
    border-width: 1px 0 0 0;
    border-color: map-get($sc, haki-dark);
    border-style: dotted;
    

    .actionsTitle{
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover{
            background-color: map-get($sc, haki-light);
        }

        .actionTime{
            font-size: 1.2rem;
            font-weight: 700;
            color: map-get($sc, boloto);
            width: 55px;
        }

        .actionTitleText{
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

        .actionButton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;

            div{
                cursor: pointer;
            }

        }
    }    
    
    .actionTextCont{
        display: flex;
        flex-direction: column;
        height: 0;
        overflow: hidden;
        padding: 0 30px 0 70px;

        &.expanded{
            height: auto;
            padding-top: 10px;
            padding-bottom: 5px;
        }

    }

}

.photoCont{
    padding-top: 5px;
    margin-bottom: 5px;
    border-width: 1px 0 0 0;
    border-color: map-get($sc, haki-dark);
    border-style: dotted;

    .photoTitle{
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover{
            background-color: map-get($sc, haki-light);
        }

        .photoDate{
            font-size: 1.2rem;
            font-weight: 700;
            color: map-get($sc, boloto);
            width: 106px;
        }

        .photoTitleText{
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

        .photoButton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;

            div{
                cursor: pointer;
            }

        }
    }    
    
    .photoTextCont{
        display: flex;
        flex-direction:row;
        height: 0;
        overflow: hidden;
        gap: 15px;

        &.expanded{
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .imageCont{
            padding: 2px;

            img{
                max-width: 300px;
                margin: 0;
            }
        }

        .contentPhoto{
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        .content p{
            font-size: 1rem;
        }

        }

    }

}

.thumbnailForMap{
    margin-bottom: 0;
    height: 200px;
    width: 300px;
    overflow: hidden;

    img{
        object-fit: cover;
        object-position: center;
        width: 300px;
        height: 200px;
    }

}

.videoCont{
    padding-top: 5px;
    margin-bottom: 5px;
    border-width: 1px 0 0 0;
    border-color: map-get($sc, haki-dark);
    border-style: dotted;

    .videoTitle{
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover{
            background-color: map-get($sc, haki-light);
        }

        .videoDate{
            font-size: 1.2rem;
            font-weight: 700;
            color: map-get($sc, boloto);
            width: 106px;
        }

        .videoTitleText{
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

        .videoButton{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 36px;

            div{
                cursor: pointer;
            }

        }
    }    
    
    .videoTextCont{
        display: flex;
        flex-direction:row;
        height: 0;
        overflow: hidden;
        gap: 15px;

        &.expanded{
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .imageCont{
            padding: 2px;

            img{
                max-width: 300px;
                margin: 0;
            }
        }

    }

    .contentVideo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .content p{
            font-size: 1rem;
        }

    }

}

.mTitle{
    font-size: 1.5rem;
    font-weight: 600;
    color: map-get($sc, orange);
    margin-bottom: 20px;
}

.dCont{
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    border-width: 1px 0 0 0;
    border-color: map-get($sc, haki-dark);
    border-style: dotted;

    .dTitle{
        display: flex;
        gap: 15px;
        cursor: pointer;
        padding: 5px 0;

        &:hover{
            background-color: map-get($sc, haki-light);
        }

        .dTitleText{
            font-weight: 600;
            font-size: 1.1rem;
            flex: 1;
        }

    }    

    .listCont{
        height: 0;
        overflow: hidden;
        padding-left: 5%;

        &.expanded{
            height: auto;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    
}

.dateCont{
    font-size: 1.2rem;
    font-weight: 700;
    color: map-get($sc, boloto);
    width: 55px;

    &.forDate{
        width: 106px;
    }

    &.forTime{
        width: 55px;
    }
}

.arrowButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;

    div{
        cursor: pointer;
    }
}

.sourceLink{
    height: 26px;
}

.infoLink{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: map-get($sc, boloto);
    border: 3px solid map-get($sc, boloto);
    border-radius: 50%;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.1rem;
    text-align: center;

    span{
        cursor: pointer;
    } 

    &:hover{
        background-color: map-get($sc, boloto);
        color: $white;
    }
}