<!--div class="responsive-embed widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/fZhtIofrHgU" frameborder="0"
        allowfullscreen></iframe>
</div-->

<p><em>Андрюс Тапінас – литовський телевізійний ведучий у травні 2022 року першим оголосив </em><a
        href="https://www.pravda.com.ua/news/2022/05/25/7348526/"><em>збір на "Байрактар" ​​для ЗСУ</em></a><em>
        серед литовців. За ним такий самий збір </em><a
        href="https://www.pravda.com.ua/news/2022/06/24/7354509/"><em>реалізував Фонд Сергія Притули</em></a><em>. А
        днями закінчили </em><a href="https://www.pravda.com.ua/news/2022/07/24/7359936/"><em>збори польські
            активісти</em></a><em>, й одразу оголосив про збір на "Байрактар" ​​</em><a
        href="https://www.eurointegration.com.ua/news/2022/07/19/7143476/"><em>канадський фонд</em></a><em>.</em>
</p>
<p><em>По суті, литовець запустив інформаційну хвилю, яка змусила говорити про зброю для України пересічних
        європейців.&nbsp;</em></p>
<p><em>Хто ж такий Андрюс Тапінас та чому йому це вдалося?</em></p>
<p><em>На литовському телебаченні він веде одразу дві програми – литовський варіант "Хто хоче стати мільйонером?"
        та</em><a href="https://www.youtube.com/watch?v=NZGgc1PzkPw" target="_blank">&nbsp;"<em>Derzhites
            tam"</em></a><em> (сатиричне шоу).&nbsp;</em></p>
<div class="nts-ad nts-ad-h280" data-ym-ad="UPR_ITA" style="">
    <div class="UPR_ITA"></div>
</div>

<p><em>Тапінас – один із знакових лідерів думок у Литві. З 2019 року, коли колишній комедійний актор Володимир
    </em><a href="https://www.pravda.com.ua/articles/2019/04/21/7213071/"><em>Зеленський виграв вибори</em></a><em>
        в Україні, над Андрюсом теж жартували, мовляв, чи не збирається той у політику. Але Тапінас каже, що
        набагато комфортніше почувається в ролі громадського активіста.&nbsp;</em></p>
<p><em>У 2020 році він підтримував білорусів, які вийшли на протест, організував живий ланцюг завдовжки 30
        кілометрів від центру Вільнюса до кордону з Білоруссю. Під час пандемії його фонд зібрав 2,5 млн євро на
        допомогу лікарям та литовській системі охорони здоров'я.&nbsp;</em></p>
<p><em>У березні 2022 року до Литви приїхала велика кількість біженців із України. На той момент у місцевих обмінних
        пунктах курс на купівлю гривні був надто низьким: за 1 євро пропонували 90 гривень.&nbsp;</em></p>
<p><em>Андрюс Тапінас домовився з одним із операторів ринку зафіксувати курс на рівні 40 гривень та оголосив
        народний збір коштів на справедливий обмін, щоб збити спекулятивний курс. Литовці пожертвували 110 тисяч
        євро, які придбали українці. А зібрану гривневу грошову масу фонд Тапінаса відправив на ЗСУ.</em></p>
<p><em>Литовець знаходить нестандартні рішення для дуже, здавалося б, складних проблем. Так сталося і з постачанням
        зброї до України. </em></p>
<p><em>Як і багато литовців, Тапінас уважно стежить за ситуацією в Україні. І, як багато хто, обурювався, що зброя
        на фронт надходить із затримкою. Тоді й народився жарт про те, щоб скинутися на танк, винищувач або
        врешті-решт на "Байрактар".&nbsp;</em></p>
<p><em>Зрештою, жарт перетворився на проєкт після спілкування з Литовським міністерством оборони та турецькою
        компанією Baykar.</em></p>
<div class="image-box image-box_center" style="max-width: 690px;"><img alt="&nbsp;"
        src="//img.pravda.com/images/doc/0/3/0338845-tapinas.jpg">
    <div class="image-box__caption"><em>Тапінас: "Для мене було важливим, що ми як нація пережили момент єднання. І
            друге, що ми показали всій Європі&nbsp;– на що готова маленька Литва".</em></div>
    <div class="image-box__author">фото:&nbsp;Justinas Stacevičius/LRT</div>
</div>
<p><strong>– П'ять мільйонів євро – велика сума для такої невеликої країни як Литва. Проте ви зібрали ці гроші не за
        3 тижні як планували, а за 3 дні. Як так сталося?</strong></p>
<p>– З початку війни ми мали багато проєктів допомоги Україні. На прохання українських дипломатів зібрали на два
    дрони-розвідники. Вартість проєкту була 330 тисяч євро, ми зібрали ці гроші за 16 годин. Саме після цього я
    повернувся до жарту про купівлю "Байрактара".&nbsp;</p>
<p>Мені здалося, що ми як суспільство здатні зібрати таку суму. Хоча, звісно, ​​я розумів ризики. Все ж таки йшов
    четвертий місяць війни. Перша хвиля підтримки була величезна. Але на четвертий місяць війни 5 мільйонів євро
    видавалися вже великою сумою. Тож побоювання були. Ну, я думав, що за 3 тижні ми точно зберемо.&nbsp;</p>
<p><strong>– Чому ви обрали саме "Байрактар"?</strong></p>
<p>– По-перше, ця зброя стала легендарною для українців. Для хорошого збору пожертвувань на добрі наміри потрібна
    хороша історія. "Байрактар" – саме така історія.&nbsp;</p>
<p>По-друге, їх виробляє приватна компанія, що начебто має полегшити процес закупівлі. Ми звернулися до нашого
    Міністерства оборони. Міністерство зв'язалося з турецькою компанією. Це зайняло два тижні.&nbsp;</p>
<p>Я думаю, Baykar дали добро, не сподіваючись, що ми зберемо ці гроші. Тому що те, як все вийшло, для турецької
    кампанії стало шоком, вони не розраховували, що прості литовці зберуть потрібну суму не за три тижні, як
    планувалося, а за три з половиною дні.</p>

<p><strong>– Литовці </strong>– <strong>не найбагатші європейці. Ви були певні, що зберете потрібну суму?</strong>
</p>
<p>– Уся Литва за кількістю населення менша, ніж столиця України. І на четвертий місяць війни, звісно, ​​5,9
    мільйона євро – це значна сума. Але я маю велику аудиторію, понад 200 тисяч підписників. Вони активні, люблять
    щось робити разом зі мною. Я думав, що перша хвиля вийде. А потім, якщо не доберемо, то почнемо працювати з
    іншими медіа та каналами комунікації. Але нас одразу підтримали відомі люди, серед яких був навіть наш
    прем'єр-міністр, колишній президент Литви Даля Грибаускайте.</p>
<p>І після першого дня стало зрозуміло, що збір перетворюється на хвилю національного єднання. Литовці не просто
    самі жертвували, а залучали своїх друзів, родичів, клієнтів. Митці продавали картини та перераховували гонорар
    на наш рахунок, була пара барменів, які робили шоти клієнтам за донати на "Байрактар".&nbsp;</p>
<p>Після другого дня ми зібрали 3,5 мільйона євро. А потім, як у фільмі, вийшла вдала розв'язка, коли турки вирішили
    подарувати нам "Байрактар" ​​і відмовилися брати гроші від литовського народу.&nbsp;</p>
<p>Але вони подарували сам дрон, а військову начинку (близько 20 ракетних установок) закупило наше Міністерство
    оборони. На цю закупівлю ми із зібраних грошей перерахували 1,5 мільйона. Ще залишилося 4,4 мільйона євро на
    гуманітарні питання.</p>
<div class="image-box image-box_center" style="max-width: 690px;"><img alt="&nbsp;"
        src="//img.pravda.com/images/doc/3/c/3c40e8e-283741899-10225646700907574-5203899675534670368-n.jpg">
    <div class="image-box__caption"><em>Тапінас: "Турки вирішили подарувати нам "Байрактар"</em></div>
    <div class="image-box__author"></div>
</div>
<p><strong>– Як ви розпорядилися грошима, що залишилися?</strong></p>
<p>– Сьогодні лише отримав <a href="https://www.facebook.com/1630629673/videos/457792246353796/" target="_blank">відео з
        Черкас</a>, куди вже прибула наша гуманітарна допомога. Ми витратили зібрані гроші
    на гуманітарні та захисні цілі. Тож із цих 4 мільйонів 400 тисяч євро: 1,5 мільйона ми витратили на антидронні
    гармати, 1,1 мільйона – на радари для гармат, ще закупили 5 додаткових дронів-розвідників.&nbsp;</p>
<p>Ще ми закупили два спеціальні дрони – це близько 800 тисяч євро, плюс 400 тисяч євро – на центр обробки даних.
    Таке обладнання дозволяє вашим розвідникам бути дуже ефективними, малопомітними та, впевнений, збереже життя
    багатьом українцям.</p>
<p>І ще на 350 тисяч євро ми придбали медичної допомоги. Отже, зібравши на "Байрактар" ​​5,9 мільйона євро, завдяки
    щедрості турецької компанії, ми приблизно на таку ж суму допомогли Україні, купивши інші необхідні речі.</p>
<p><strong>– Що для вас особисто було новим та важливим у цьому проєкті?</strong></p>
<p>– Для мене було важливим, що ми як нація пережили момент єднання. І друге, що ми показали всій Європі, на що
    готова маленька Литва. Наші дипломати згодом використали наш кейс на переговорах з іншими європейськими
    політиками.&nbsp;</p>
<p>Важливо й те, що ініціативу підхопили й українці та зібрали аж на чотири "Байрактари"!&nbsp; Днями про закінчення
    збору оголосили поляки. Вони зібрали 23 мільйони злотих. Ми теж з ними працювали трошки, допомагали порадами. Я
    знаю, що зараз з'явилися ініціативи щодо збору в Норвегії та в Канаді.&nbsp;</p>
<div class="image-box image-box_center" style="max-width: 690px;"><img alt="&nbsp;"
        src="//img.pravda.com/images/doc/7/1/7102fde-andrius-tapinas-82584757.jpg">
    <div class="image-box__caption"><em>Тапінас: "Уся Литва за кількістю населення менша, ніж столиця України"</em>
    </div>
    <div class="image-box__author">фото:&nbsp;DELFI / Andrius Ufartas</div>
</div>
<p><strong>– Важко згадати випадки, коли у Європі громадські ініціативи збирали гроші на летальну зброю. Зазвичай
        люди скидаються на благодійні гуманітарні проєкти. Ви зіткнулися з критикою та нерозумінням?</strong></p>
<p>– Мені таке запитання ставили журналісти ВВС, мовляв, як журналіст може збирати гроші на зброю? І я їм відповів,
    що у цьому випадку я виступаю не як журналіст, а як громадський активіст та європеєць. Підніміть голову вгору,
    подивіться чи не летять бомби. Ні&nbsp;– і це завдяки ЗСУ. Ми хочемо, щоб війна закінчилася, і щоб вона
    закінчилася перемогою України.&nbsp;</p>
<p>На жаль, медикаменти не допомагають закінчити війну. Ситуація з <a
        href="https://www.pravda.com.ua/podcasts/podkast-klyati-pitannya/2022/07/15/7358349/">HIMARS</a> показує, як
    один технічний засіб дозволяє збільшити ефективність роботи українських військових.</p>
<p>Тому "Байрактар" ​​– це наш спосіб показати світові, що ми, прості громадяни та миролюбні люди, розуміємо
    значення закупівель летальної зброї для України та готові жертвувати своїми грошима. Ми розуміємо, що лише зброя
    зупинить агресора. Інших виходів немає.</p>
<p>Коли громадяни гуртуються і чітко формулюють свій запит, європейським політикам складніше чи практично неможливо
    заплющувати на це очі.</p>
<p>Якби весь Євросоюз допомагав Україні так, як допомагають балтійські країни та Польща, ця війна була б уже
    закінчена. Якби Німеччина та Франція надсилали стільки зброї, скільки надсилає Литва – війна б уже давно була
    закінчена.</p>

<p><strong>– Чи стикаєтеся ви у Литві з російською пропагандою і як це виглядає?</strong></p>
<p>– У нас є певна частина населення, не дуже велика, яка ментально живе в російському інформаційному полі. Тобто
    вони дивляться "Первый канал", "Россию", вірять, що в Україні йде спецоперація і там засіли нацики, яких треба
    денацифікувати. Вони вірять, що Європа згнила, але в Росію при цьому повертатися не збираються.</p>
<p>Є, звісно, ​​і "п'ята колона". Маргінальні журналісти, члени парламенту, які відпрацьовують російський наратив,
    звинувачують литовські волонтерські фонди, які працюють на допомогу Україні, в корупції.&nbsp;</p>
<p>Такі меседжі спочатку закидаються у соцмережі, а потім їх починають озвучувати деякі парламентарі. Ми розуміємо,
    що росіянам дуже боляче від того, яку потужну підтримку отримує Україна від простих європейців. Їм її треба
    знецінити.&nbsp;</p>
<p>Кілька днів тому на телеканалі РЕН ТВ вийшов сюжет, у якому серйозно стверджується, що за два місяці Литва <a
        href="https://www.facebook.com/1630629673/videos/619325836416239/" target="_blank">зібрала лише 25 доларів
        допомоги</a> для України. І при цьому показується відео "Байрактара". І коментується, що через Литву
    відмиваються європейські гроші.</p>
<div class="image-box image-box_center" style="max-width: 690px;"><img alt="&nbsp;"
        src="//img.pravda.com/images/doc/9/e/9e9767b-285295846-10225675886437194-6017148804397761071-n.jpg">
    <div class="image-box__caption"><em>Тапінас: "Байрактар" ​​– це наш спосіб показати світові, що ми, прості
            громадяни та миролюбні люди, розуміємо значення закупівель летальної зброї для України та готові
            жертвувати своїми грошима"</em></div>
    <div class="image-box__author"></div>
</div>
<p><strong>– Як говорити з європейською аудиторією про війну в Україні?</strong></p>
<p>– У Євросоюзі є розкол серед еліт та населення щодо того, як розуміти війну в Україні. Ми, литовці, розуміємо, що
    Росія є загрозою. Нас 50 років окупували, ґвалтували, вбивали, посилали. Ми це розуміємо не з 2014 року, а
    набагато раніше.&nbsp;</p>
<p>Чи може таку загрозу від РФ відчути середньостатистичний італієць, португалець, іспанець, француз? Росія їх
    ніколи не окуповувала. Росія для них – це великий ринок. Вони не можуть зрозуміти ні геноциду, ні історичних
    передумов. У їхній свідомості Росія не становить такої загрози.</p>
<p>А ми, литовці, поляки, чехи, українці – ми остання стіна європейської цивілізації. Французи ніколи не бачили і не
    знали такого геноциду, вони зараз бачать, що піднімаються ціни на пальне, електроенергію, продукти. І, звісно,
    ​​їм легко підселити такий меседж: "Давайте закінчимо цю війну швидше, нехай вони домовляться, щоби й Росії було
    добре".</p>
<p>І, знаєте, я не звинувачую цього середньостатистичного європейця. Вони не розуміють цього, і вони не можуть цього
    розуміти. Отже, наша турбота – не дати виборцям у цих країнах натиснути на політиків так, щоб вони перестали
    думати про перемогу України. Ось – завдання наших політиків та дипломатів.</p>
<p>При всій повазі до Балтійських країн та Польщі – ми все ж таки маленькі. Тим не менше, тема купівлі литовцями
    "Байрактара" пройшла через усі ключові ЗМІ великих європейських гравців – Франції, Німеччини, Британії.</p>
<p>Ми збирали 5,9 мільйона на летальну зброю, а отримали, за моїми підрахунками, ефірного часу приблизно на 100
    мільйонів євро на найбільших європейських телеканалах. Я сам давав десятки інтерв'ю та пояснював мотивацію
    литовців, що ми збираємо гроші на зброю, бо розуміємо, що зараз саме українські військові забезпечують мир у
    нашій країні. Тому купівля "Байрактара" у значній частині – комунікаційний проєкт.</p>
<p>Саме тому ми зараз працюємо з міністерствами кількох європейських країн, щоби організувати таку акцію на
    європейському рівні.</p>
<div class="image-box image-box_center" style="max-width: 638px;"><img alt="&nbsp;"
        src="//img.pravda.com/images/doc/f/e/fe63ff8-597158-437126-756x425.jpg">
    <div class="image-box__caption"><em>Тапінас: "Якщо ми зараз не допоможемо українцям купувати зброю, то завтра
            російські ракети летітимуть на наші міста"</em></div>
    <div class="image-box__author">фото:&nbsp;D. Umbraso/LRT nuotr</div>
</div>
<p><strong>– Чи є ймовірність, що ви оголосите великий європейський збір?</strong></p>
<p>– У найближчі 3-4 місяці ми побачимо, як змінюється думка політиків, на яких тиснутиме виборець щодо цін. І, на
    жаль, якщо не буде усвідомленого опору, позиції Росії зміцнюватимуться. Позиції України потроху виштовхуватимуть
    із центру уваги.</p>
<p>А Росії саме це й потрібно. Змусити європейців думати про мир за будь-яких умов. Ми не можемо звинувачувати
    середнього грека в тому, що він не думає про Україну щодня. А він думає про те, що зараз він платитиме за
    електроенергію у півтора рази більше.</p>
<p>Ми також незадоволені, що електрика дорожчає, але зараз кожен розуміє, що це ціна, яку платимо за те, що не на
    нас нападають. У нас це зрозуміло. А грекам та італійцям – ні. А ми дуже голосно говоримо, коли ми жертвуємо
    Україні – це нам дешево обходиться. Якщо ми зараз не допоможемо українцям купувати зброю, то завтра російські
    ракети летітимуть на наші міста.</p>

<p><strong>– Яку б ви дали пораду волонтерським групам, які у різних країнах зараз намагаються збирати гроші на
        летальну зброю для України? Як повторити ваш успіх?</strong></p>
<p>– По-перше, спочатку треба чітко розуміти, що ви закуповуватимете. Починати збирання грошей тільки після
    з'ясування, як відбувається процес закупівлі. Як ви розумієте, приватні фонди не можуть закуповувати летальну
    зброю. Такі закупівлі відбуваються лише на рівні урядів. Тобто не кричати, що ви будете закуповувати винищувачі
    або HIMARS до того, коли ви зрозумієте, наскільки це реально.</p>
<p>Друга порада: волонтерам треба активно шукати союзників, залучати лідерів думок, політиків, зірок, які мають
    багато передплатників, телевізійників, активістів, їх треба згуртувати. Так зробив і український фонд, і
    польські волонтери. Потрібно відразу робити збір масовим та дуже гучним. Треба ще враховувати, що розуміння
    війни в Україні у багатьох європейських країнах є різним як на рівні пересічних громадян, так і на рівні урядів.
</p>
<p><strong><em>Анастасія Рінгіс</em></strong></p>